.word {
    background-color: #000000;
    font-family: Arial;
    font-size: 30px;
    color: snow;
    line-height: 1.4em;
    height: 1.4em;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .word:before {
    content: '';
    background-color: snow;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0em -3em 0em 0.2em #19679a, 2em -2em 0 0em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 0em #19679a;
    }
    12.5% {
      box-shadow: 0em -3em 0em 0em #19679a, 2em -2em 0 0.2em #19679a, 3em 0em 0 0em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
    }
    25% {
      box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 0em #19679a, 3em 0em 0 0.2em #19679a, 2em 2em 0 0em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
    }
    37.5% {
      box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 0em #19679a, 2em 2em 0 0.2em #19679a, 0em 3em 0 0em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
    }
    50% {
      box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 0em #19679a, 0em 3em 0 0.2em #19679a, -2em 2em 0 0em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
    }
    62.5% {
      box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 0em #19679a, -2em 2em 0 0.2em #19679a, -3em 0em 0 0em #19679a, -2em -2em 0 -0.5em #19679a;
    }
    75% {
      box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 0em #19679a, -3em 0em 0 0.2em #19679a, -2em -2em 0 0em #19679a;
    }
    87.5% {
      box-shadow: 0em -3em 0em 0em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 0em #19679a, -3em 0em 0 0em #19679a, -2em -2em 0 0.2em #19679a;
    }
  }
  @keyframes load4 {
      0%,
      100% {
          box-shadow: 0em -3em 0em 0.2em #19679a, 2em -2em 0 0em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 0em #19679a;
      }
      12.5% {
          box-shadow: 0em -3em 0em 0em #19679a, 2em -2em 0 0.2em #19679a, 3em 0em 0 0em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
      }
      25% {
          box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 0em #19679a, 3em 0em 0 0.2em #19679a, 2em 2em 0 0em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
      }
      37.5% {
          box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 0em #19679a, 2em 2em 0 0.2em #19679a, 0em 3em 0 0em #19679a, -2em 2em 0 -0.5em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
      }
      50% {
          box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 0em #19679a, 0em 3em 0 0.2em #19679a, -2em 2em 0 0em #19679a, -3em 0em 0 -0.5em #19679a, -2em -2em 0 -0.5em #19679a;
      }
      62.5% {
          box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 0em #19679a, -2em 2em 0 0.2em #19679a, -3em 0em 0 0em #19679a, -2em -2em 0 -0.5em #19679a;
      }
      75% {
          box-shadow: 0em -3em 0em -0.5em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 0em #19679a, -3em 0em 0 0.2em #19679a, -2em -2em 0 0em #19679a;
      }
      87.5% {
          box-shadow: 0em -3em 0em 0em #19679a, 2em -2em 0 -0.5em #19679a, 3em 0em 0 -0.5em #19679a, 2em 2em 0 -0.5em #19679a, 0em 3em 0 -0.5em #19679a, -2em 2em 0 0em #19679a, -3em 0em 0 0em #19679a, -2em -2em 0 0.2em #19679a;
      }
  }