.animation{
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #000, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

entrar{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

entrar:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 10s ;
}

entrar:last-of-type {
  width:0px;
  animation: reveal 10s ;
}

entrar:last-of-type span {
  margin-left:-355px;
  animation: slidein 10s ;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}



@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 341px) {


  .animation{
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #fff, #000, #fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  entrar{
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }

}