.ContentDivMapa{
    margin-bottom: 3em;
}
.ContentDivMapaDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    letter-spacing: 1px;
}
.ContentDivMapaDiv img
{
    width: 100%;
}
.divConviccion span
{
    text-align: center;
}

.divMundoVerde {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 2em;
    position: relative;
    

}
.ContentDivNaturaleza img
{
    width: 70%;
}
.divMundoVerde p
{
   position: absolute;
   width: 60%;
   top: 50%;
   right: 10%;
   background:linear-gradient(to right,#19F181,#036930);
   z-index: 1;
   color: #ffffff;
   font-size: 30px;
   font-weight: 400;
   letter-spacing: 2px;
   padding: 10px;
   text-align: justify;
}


.ContentDivMapaDiv span
{
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}
.ContentDivMapaDiv p
{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}

.ContentDivMapaDiv a 
{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    background-color: #ff6f3c;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
 
}
.ContentDivMapaDiv a:hover
{
    color: #ffffff;
    text-decoration: none;
    background-color: #ff6f3c;
 
}


  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) 
  {
    .ContentDivMapaDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12em;
        letter-spacing: 1px;
    }
    .ContentDivMapaDiv img
        {
        width: 100%;
   
        }
        .divMundoVerde {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 4em;
            margin-bottom: 2em;
            position: relative;
        }
        .ContentDivNaturaleza img
        {
            width: 100%;
        }
        .divMundoVerde p
        {
           position: absolute;
           width: 100%;
           top: 60%;
           opacity: .8;
           right: 0%;
           background-color: #0b8457;
           z-index: 1;
           color: #ffffff;
           font-size: 14px;
           font-weight: 400;
           letter-spacing: 2px;
           padding: 10px;
           text-align: justify;
        }

    
    .ContentDivMapaDiv span
    {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    
    }
    .ContentDivMapaDiv p
    {
        font-size: 18px;
        text-align: center;
        font-weight: 400 
    }
    
    .ContentDivMapaDiv a 
    {
        font-size: 25px;
        font-weight: bold;
        color: #000000;
        background-color: #ffbd39;
        padding: 10px;
        border-radius: 5%;
        text-decoration: none;
     
    }
    .ContentDivMapaDiv a:hover
    {
        color: #ffffff;
        text-decoration: none;
        background-color: #ff6f3c;
     
    }
   
  }  