.redaccion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}
.inputs{
    margin-bottom: 2em;
    align-items: center;
}