.Capacitacion{
    min-height: 100vh;
    position: relative;
    z-index: 0;
}
.Capacitacion img{
    position: absolute;
    top: 40%;
    left: 60%;
    width: 30%;
    z-index: 1;
}

.HeaderCapacitacion{
    position: absolute;
    height: 90vh; 
    width: 80%;
    background: #000000;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100% 0;
    z-index: 1;
    color: #ffff;
}

.HeaderCapacitacionTitulo{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20%;
    left: 10%;
    color: #ffffff;
    width: 50%;
}
.HeaderCapacitacionTitulo span{
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 400;
}
.HeaderCapacitacionTitulo h1{
    color: #ffffff;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 2em;
}
.HeaderCapacitacionTitulo p{
    text-align: justify;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 250;
}

.HeaderCapacitacionTitulo a 
{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    width: 50%;
    transition: .5s;
}

.HeaderCapacitacionTitulo a:hover
{
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
}


.Capacitacion .divRedesSociales{
    position: relative;
    top: 10%;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    width:5%;
    
}

.HeaderCapacitacionDos{
    position: absolute;
    top: 0%;
    height: 90vh; 
    width: 100%;
    background: #112d4e;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100% 0;
    z-index: 0;
}


.CapaContentUno{
    padding: 5px;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.dtl21 {
    width: 100%;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
   
}
.dtl21 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dtl21 .dtl {
    background: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    padding: 0 15px;
    -webkit-transform: perspective(600px) rotateY(90deg);
    -moz-transform: perspective(600px) rotateY(90deg);
    -ms-transform: perspective(600px) rotateY(90deg);
    -o-transform: perspective(600px) rotateY(90deg);
    transform: perspective(600px) rotateY(90deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dtl21 .dtl h3,
.dtl21 .dtl p,
.dtl21 .dtl .iconTrophy{
    opacity: 0;
    position: relative;
    -webkit-transition: all 0.3s 0.3s;
    -moz-transition: all 0.3s 0.3s;
    -o-transition: all 0.3s 0.3s;
    transition: all 0.3s 0.3s;
}
.dtl21 .dtl h3 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    
}
.dtl21 .dtl p {
    font-size: 16x;
    margin-bottom: 20px;
    line-height: 2;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: justify;
}

.dtl21:hover .dtl h3,
.dtl21:hover .dtl p,
.dtl21:hover .dtl a {
    left: 0;
    opacity: 1;
}
.dtl21:hover .dtl {
    visibility: visible;
    -webkit-transform: perspective(600px) rotateY(0deg);
    -moz-transform: perspective(600px) rotateY(0deg);
    -ms-transform: perspective(600px) rotateY(0deg);
    -o-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}





@media only screen and (max-width: 1280px) and (min-width: 981px) 
{  
	
    .HeaderCapacitacionTitulo{
        left: 5%;
        width: 60%;
    }
 
    .HeaderCapacitacionTitulo h1{
        margin-bottom: 1em;
    }
    .HeaderCapacitacionTitulo p{
        font-size: 24px;
    }
    
    .HeaderCapacitacionTitulo a 
    {
        width: 60%;
    }

    
    .Capacitacion .divRedesSociales{
        flex-direction: row;
        justify-content: space-around;
        width:15%;
    }
    
}

@media only screen and (max-width: 980px) and (min-width: 699px) 
{  
	
  
    .HeaderCapacitacionTitulo{
        left: 5%;
        width: 60%;
    }
 
    .HeaderCapacitacionTitulo h1{
        margin-bottom: 1em;
    }
  
    
    .HeaderCapacitacionTitulo a 
    {
        width: 60%;
    }
    
    .Capacitacion .divRedesSociales{
        flex-direction: row;
        justify-content: space-around;
        width:15%;
    }
    
}  
  

  
/* Para 600px */  
@media only screen and (max-width: 700px) and (min-width: 501px) 
{
    .Capacitacion{
        min-height: 100vh;
        position: relative;
        z-index: 0;
    }

    .HeaderCapacitacion{
        height: 80vh; 
        width: 100%;
        
    }

    .HeaderCapacitacionDos{
        height: 85vh; 
        width: 100%;
  
    }

	.HeaderCapacitacionTitulo{
        left: 5%;
        width: 80%;
    }
 
    .HeaderCapacitacionTitulo h1{
        margin-bottom: .5em;
    }
    .HeaderCapacitacionTitulo p{
        font-size: 20px;
    }
    
    .HeaderCapacitacionTitulo a 
    {
        width: 60%;
        font-size: 20px;
    }

    
    .Capacitacion .divRedesSociales{
        flex-direction: row;
        justify-content: space-around;
        width:20%;
    }
    
}
  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) 
  {
  
    .Capacitacion{
        min-height: 80vh;
        position: relative;
        z-index: 0;
    }

    .HeaderCapacitacion{
        height: 65vh; 
        width: 100%;
        
    }

    .HeaderCapacitacionDos{
        height: 70vh; 
        width: 100%;
  
    }
	.HeaderCapacitacionTitulo{
        left: 5%;
        width: 75%;
    }
 
    .HeaderCapacitacionTitulo h1{
        margin-bottom: .5em;
        font-size: 20px;
    }
    .HeaderCapacitacionTitulo p{
        font-size: 16px;
    }
    
    .HeaderCapacitacionTitulo a 
    {
        width: 60%;
        font-size: 14px;
    }

    .Capacitacion .divRedesSociales{
        flex-direction: row;
        justify-content: space-around;
        width:30%;
    }
  
  }  
    
